.programmer_name{

    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;

    border-right: 1px solid gray;

}
.pair_times_td {
    text-align: center;
}

.title {
    color: blue;
    font-size: 20px;
    padding-bottom: 8px;
}
